.container {
    display: flex;
    justify-content: space;
    padding: 20px;
    background-color: red;
    height: 20px;
    align-items: center;
}

.container ul {
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
}

.link {
    color: white;
    text-decoration: wavy;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}